<p id="notice"><%= notice %></p>

<p>
  <strong>Dermatology code:</strong>
  <%= @diagnostic_code.dermatology_code %>
</p>

<table  class="table">
  <thead>
  <tr>
    <th>Patient</th>
    <th>Physician</th>




    <th>Appointment Date</th>
    <th>Time</th>
    <th>Appointment status</th>

    <th>Fee</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @diagnostic_code.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.physician.name %></td>



        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.start_time.strftime("%a %H:%M%p - ") %>
          <%= appointment.time_slot.end_time.strftime("%H:%M%p") %>
        <td><%= appointment.appointment_status %></td>

        <td><%= number_to_currency(appointment.fee, unit: "$") %></td>

        </td>



      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) %> |
<%= link_to 'Back', diagnostic_codes_path %>
