<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physician.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @physician.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @physician.phone %>
</p>
<p>
  <strong>Status:</strong>
  <%= @physician.status %>
</p>

<strong>Appointments:</strong>
<table  class="table">
  <thead>
  <tr>
    <th>Patient</th>
    <th>Appointment reason</th>

    <th>Appointment Date</th>
    <th>Time Slot</th>
    <th>Appointment status</th>
    <th>Physician note</th>
    <th>Fee</th>
    <th>Diagnostic code</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>


        <td><%= appointment.appointment_reason %></td>

        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.start_time.strftime("%a %H:%M%p - ") %>
          <%= appointment.time_slot.end_time.strftime("%H:%M%p") %>
        <td><%= appointment.appointment_status %></td>
        <td><%= appointment.physician_note %></td>

        <td><%= number_to_currency(appointment.fee, unit: "$") %></td>
        <td><%= appointment.diagnostic_code.dermatology_code %></td>
        </td>


        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
