<nav>

  <ul >
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/home_page/admin">Admin</a>
      <ul>
        <li><a  href="/patients">Patients</a></li>
        <li><a href="/physicians">Physicians</a></li>
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/diagnostic_codes">Diagnostic Codes</a></li>
        <li><a href="/time_slots">Time Slots</a></li>
      </ul>
    </li>
    <li>
      <a href="/patients">Patient</a>

    </li>

    <li>
      <%= link_to 'Physician', physicians_path %>

    </li>

    <li>
      <a href="/home_page/office_worker">Office Employee</a>
      <ul>
        <li><a  href="/patients">Patients</a></li>
        <li><a href="/physicians">Physicians</a></li>
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/diagnostic_codes">Diagnostic Codes</a></li>
      </ul>
    </li>
  </ul>

</nav>