<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<table  class="table">
  <thead>
  <tr>

    <th>Physician</th>


    <th>Appointment reason</th>

    <th>Appointment Date</th>
    <th>Time Slot</th>
    <th>Appointment status</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @patient.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.physician.name %></td>

        <td><%= appointment.appointment_reason %></td>

        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.start_time.strftime("%a %H:%M%p - ") %>
          <%= appointment.time_slot.end_time.strftime("%H:%M%p") %>
        <td><%= appointment.appointment_status %></td>

        </td>



        <td><%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Appointment', new_appointment_path %>

</br>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
