<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="container-fluid">
      <div class="field">
        <%= f.label :patient_id %><br>
        <%= f.collection_select :patient_id, Patient.all,:id, :name %>
      </div>
      <div class="field">
        <%= f.label :physician_id %><br>
        <%= f.collection_select :physician_id, Physician.all,:id, :name %>
      </div>
      <div class="field">
        <%= f.label :appointment_date %><br>
        <%= f.date_select :appointment_date,:start_year => Date.today.year, :end_year => Date.today.year + 1, :start_day => Date.today, order: [:month , :day , :year] %>
      </div>
      <div class="field">
        <%= f.label :time_slot_id %><br>

        <%= f.collection_select :time_slot_id, TimeSlot.all,:id, :parsedStartTime%>
      </div>
      <div class="field">
        <%= f.label :appointment_reason %><br>
        <%= f.text_field :appointment_reason %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>
