<h3>Listing appointments</h3>

<table  class="table">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Physician</th>


      <th>Appointment reason</th>

      <th>Appointment Date</th>
      <th>Time Slot</th>

      <th>Physician note</th>
      <th>Fee</th>
      <th>Diagnostic code</th>
      <th>Appointment status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.physician.name %></td>

        <td><%= appointment.appointment_reason %></td>

        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.start_time.strftime("%a %H:%M%p - ") %>
          <%= appointment.time_slot.end_time.strftime("%H:%M%p") %>

        <td><%= appointment.physician_note %></td>
        <td><%= number_to_currency(appointment.fee, unit: "$") %></td>
        <td><%= appointment.diagnostic_code.dermatology_code %></td>
        <td><%= appointment.appointment_status %></td>
        </td>


        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Appointment', new_appointment_path %>
