<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.name %>
</p>

<p>
<p>
  <strong>Appointment Date:</strong>
  <%= @appointment.appointment_date %>
</p>
<p>
  <strong>Time Slot:</strong>
  <%= @appointment.time_slot.start_time.strftime("%H:%M%p") %> -
  <%= @appointment.time_slot.end_time.strftime("%H:%M%p") %>
</p>

<p>
  <strong>Appointment reason:</strong>
  <%= @appointment.appointment_reason %>
</p>

<p>
  <strong>Appointment status:</strong>
  <%= @appointment.appointment_status %>
</p>

<p>
  <strong>Physician note:</strong>
  <%= @appointment.physician_note %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @appointment.fee %>
</p>
<strong>Diagnostic code:</strong>
<%= @appointment.diagnostic_code.dermatology_code %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', patients_path %>
