<!DOCTYPE html>
<html>
<head>
  <title>Appointment Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="header">
  <h1>Appointments Manager</h1>
</div>

<%= render 'shared/nav' %>

<div id="main-container" class="container">
  <div class="row">


    <%= yield %>

  </div>
</div>



</body>
</html>
